<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code in Dark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="../homepagescript.css" rel="stylesheet">
    <!--<script src="public/timeline.js"></script>-->
    <!--<script src="public/index.js"></script>-->
    <link href="https://maxcdn.bootstrapcdn .com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body >
<div class="row" style="margin-top: 100px">
    <div class="col-3"></div>
    <div class="col-6" align="center">
        <h1 class="main-title">
            <!--<a type="button" href="#"><b>LEADERBOARD</b></a>-->
            <b>WELCOME TO CODE IN DARK</b>
        </h1>
        <br>
    </div>
    <div class="col-3"></div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-md-6 col-lg-4 padding cardSection">
            <div class="card">
                <img class="card-img-top" src="../images/images.png" >
                <div class="card-body">
                    <h4 class="card-title">Question 1</h4>
                    <p class="card-text">   Greed For Innovision Prize             </p>
                    <a href="/ques1" class="btn btn-outline-secondary">Attempt</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 padding cardSection">
            <div class="card">
                <img class="card-img-top" src="../images/images1.png">
                <div class="card-body">
                    <h4 class="card-title">Question 2</h4>
                    <p class="card-text">   Unique Elements            </p>
                    <a href="/ques2" class="btn btn-outline-secondary">Attempt</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 padding cardSection">
            <div class="card">
                <img class="card-img-top" src="../images/images2.png">
                <div class="card-body">
                    <h4 class="card-title">Question3</h4>
                    <p class="card-text">   Special Strings           </p>
                    <a href="/ques3" class="btn btn-outline-secondary">Attempt</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 padding cardSection">
            <div class="card">
                <img class="card-img-top" src="../images/images3.png">
                <div class="card-body">
                    <h4 class="card-title">Question 4</h4>
                    <p class="card-text">   Playing with Factorials              </p>
                    <a href="/ques4" class="btn btn-outline-secondary">Attempt</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 padding cardSection">
            <div class="card">
                <img class="card-img-top" src="../images/glaucous.png">
                <div class="card-body">
                    <h4 class="card-title">Question 5</h4>
                    <p class="card-text">   Division of Stipend           </p>
                    <a href="/ques5" class="btn btn-outline-secondary">Attempt</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-4"></div>
    </div>



</div>

</body>
</html>